@import 'design';
@import 'forms';
@import 'navigation';

/*
  - header
  - content sections
    - homepage
    - subpage
    - builder page
  - footer
*/

// BASE STYLES
body {
  &.no-scroll { overflow: hidden; }
}

// HEADER
header { width: 100vw; min-height: 21vh; position: absolute; z-index: 99;
  .hero-mask { background: transparent url('../images/hero-mask.png') no-repeat 0 10px; background-size: cover; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    .hero-logo { position: absolute; top: 38px; right: 15px; display: block; width: 180px; }
  }
}
section.heroimage { position: relative; top: 55px;  }

// HOMEPAGE
.homepage-content { margin-top: 75px;
  .homepage-contentarea { text-align: center; padding-left: 5vw; padding-right: 5vw; }
}
.homepage-builders { margin: 3vh 0;
  .builder { text-align: center;
    a { color: $gray;
      &:hover { color: $ltblue; }
      strong { text-transform: uppercase; font-style: normal; font-size: 1.2em; }
    }
  }
}
.homepage-heroimages {
  .homepage-heroimage { display: none; }
}
.homepage-slider {
  .carousel-indicators { bottom: 20px; }
}
.homepage-contactform { padding-top: 5vh;
  .form-container { text-align: center;
    p { line-height: 1.5em; }
  }
}

// SUBPAGES
.page-breadcrumbs { margin-top: 75px;
  .page-breadcrumb {
    .breadcrumb { background: transparent; border-radius: none; padding: 0; text-transform: uppercase; font-size: .9em; color: $gray;
      .breadcrumb-item {
        a { padding-top: 1px; display: inline-block; }
      }
      .breadcrumb-item+.breadcrumb-item {
        &::before { font-family: 'Font Awesome 5 Free'; font-weight: 900; content: '\f054'; font-size: .85em; }
      }
    }
  }
}

// COMMUNITY PAGE
.community-content,
.community-education,
.page-content { text-align: center; padding: 3vh 0; }
.location-links {
  .location-subcontent { text-align: center; margin: 3.25vh 0; }
}
.community-slider { margin-bottom: 3vh; }
.carousel-indicators { margin: 0 5%; justify-content: left; bottom: 0;
  li { background-color: $white; opacity: 1;
    &.active { background-color: $yellow; }
  }
}

// BUILDER PAGE
.builder-content {
  .builder-contentarea { text-align: center;
    .builder-details { padding-left: 4vw; padding-right: 4vw; font-size: 1.1em; line-height: 1.6em;
      p { margin: 2vh 0; }
      .home-details { font-style: italic; font-size: 1em;  }
    }
  }
  .homebuilder-models { margin: 3vh 0; background: pink; }
  .builder-link { font-size: .9em; margin: 3vh 5vw; text-align: center; }
}

// NEWS PAGE & ARTICLES
.blog-articles  { margin: 3vh 0;
  .news-article { text-align: center;
    .article-title,
    .article-title a { color: $ltblue; margin: 0 0 5px; }
    .post-date { font-size: 1.1em; text-transform: uppercase; }
  }
}


// FOOTER
.footer-address { text-align: center; font-size: .95em; line-height: 1.4em; padding-left: 5vw; padding-right: 5vw; }
.footer { padding: 2.5vh 0;
  .copyright { font-size: .85em; text-align: center; line-height: 1.3em;
    .alignleft { float: none; margin: 15px auto; }
  }
}




/*
Extra small devices (portrait phones, less than 576px)
No media query...Bootstrap default
*/

/*** SMALL DEVICES : Landscape phones, 576px + ***/
@media (min-width: 576px){
  header { min-height: 285px; margin-top: 0;
    .hero-mask { background-position: 0 0;
      .hero-logo { top: 50px; right: 30px; width: 300px; }
    }
  }
  section.heroimage { top: 100px; }

  // HOMEPAGE
  .homepage-content { margin-top: 125px;
    .homepage-contentarea { padding-left: 2vw; padding-right: 2vw;

    }
  }
  .homepage-builders { margin: 3vh 0;
    .builder { text-align: center;
      a { color: $gray;
        &:hover { color: $ltblue; }
        strong { text-transform: uppercase; font-style: normal; font-size: 1.2em; }

      }
    }
  }
  .homepage-heroimages {
    .homepage-mobile-hero { display: none; }
    .homepage-heroimage   { display: block; position: relative;
      .homepage-heroimage-contents { position: absolute; bottom: 10%; font-size: 1em; text-align: center; width: 45%;
        &.left-align  { left: 25%; transform: translateX(-50%); }
        &.right-align { right: 25%; transform: translateX(50%); }
        &.image-1     { bottom: 15%; }
        &.image-2     { bottom: 27%; }
      }
    }
  }

  // SUBPAGES
  .page-breadcrumbs { margin-top: 125px; }
}

/*** MEDIUM DEVICES : Tablets, 768px + ***/
@media (min-width: 768px){
  .community-slider {
    .carousel-indicators { bottom: 15px; }
  }
}

/*** LARGE DEVICES : Desktops, 992px and up ***/
@media (min-width: 992px){
  header { min-height: 360px; }
}

/*** EXTRA LARGE DEVICES : Large Desktops, 1200px + ***/
@media (min-width: 1200px){
  header { min-height: 45vh;
    .hero-mask {
      .hero-logo { position: absolute; top: 120px; right: 65px; display: block; width: 500px; }

    }
  }
  section.heroimage { top: 150px; }
  .homepage-content { margin-top: 175px; }
  .homepage-heroimages {
    .homepage-mobile-hero { display: none; }
    .homepage-heroimage   { display: block; position: relative;
      .homepage-heroimage-contents { position: absolute; bottom: 20%; font-size: 1.5em; line-height: 1.5em; width: 45%;
        &.image-1     { bottom: 25%; }
        &.image-2     { bottom: 35%; }

      }
    }
  }

  //.community-slider {
    .carousel-indicators {
      li { width: 45px; height: 6px;
        &.active { background-color: $yellow; }
      }
    }
  //}

  // SUBPAGES
  .page-breadcrumbs { margin-top: 175px; }
}


/*
:::::::::: CUSTOM MEDIA QUERIES IF NEEDED ::::::::::
*/
